@model TeacherViewModel

@{
    ViewData["Title"] = "Edit Teacher";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Edit Teacher</h3>
        </div>
        <hr />
        <!-- DataTales Example -->
        <form asp-action="Edit" method="post">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Edit Teacher
                    </h6>
                </div>
                <div class="card-body">


                    <div class="row">

                        <div class="col-md-6 mb-2">
                            <!--Informations-->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Teacher Details</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <input type="hidden" asp-for="Id" />
                                        <label asp-for="NationalId"></label>
                                        <input asp-for="NationalId"
                                               type="number" pattern="/^\d+$/"
                                               onKeyPress="if(this.value.length==10) return false;"
                                               class="form-control" required />
                                        <span asp-validation-for="NationalId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FirstName"></label>
                                        <input asp-for="FirstName" maxlength="100" class="form-control" required />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="MidName"></label>
                                        <input asp-for="MidName" maxlength="100" class="form-control" required />
                                        <span asp-validation-for="MidName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LastName"></label>
                                        <input asp-for="LastName" maxlength="100" class="form-control" required />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DateBirth"></label>
                                        <input asp-for="DateBirth" type="date" class="form-control" />
                                        <span asp-validation-for="DateBirth" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Gender"></label>
                                        <select asp-for="Gender" class="form-control">
                                            <option disabled selected>---Select Gender---</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 mb-2">
                            <!--Account-->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Account Details</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label asp-for="UserName"></label>
                                        <input asp-for="UserName" maxlength="100" class="form-control" required />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <hr />
                                    <h6>Change password</h6>
                                    <div class="form-group">
                                        <label asp-for="Password">New Password</label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--Contact-->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Contact Details</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Phone"></label>
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <div class="card-footer text-muted">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index"
                       class="btn btn-outline-secondary">Back</a>
                </div>
            </div>
        </form>
    </div>

</div>
@section Scripts {




    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

