@model IEnumerable<Chat>

@{
    ViewData["Title"] = "ShowChat";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}



<h2>All Messages</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-body">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>Title</th>
                            <th>Send Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.From.UserName</td>
                                <td>@item.Title</td>
                                <td>
                                    @item.SendDate
                                </td>
                                <td>
                                    <a asp-action="ShowMessage"
                                       asp-route-id="@item.Id"
                                       class="btn btn-outline-primary btn-sm">Show Message</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

