@model ProjetFinEtude.Models.Class

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Class</h2>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Edit Class</h6>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Year" class="control-label"></label>
                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Semester" class="control-label"></label>
                        <input asp-for="Semester" class="form-control" />
                        <span asp-validation-for="Semester" class="text-danger"></span>
                    </div>

                </div>
                <div class="card-footer text-muted">
                    <button type="submit" asp-action="Edit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Styles{
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    <script>
        $('#Year').datepicker({
            format: "yyyy",
            viewMode: "years",
            minViewMode: "years", autoclose: true,

        });
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
