@model AddUsersViewModel
@{
    ViewData["Title"] = "Add New User";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h3 class="h3 mb-0 text-gray-800">Manage Users</h3>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Add New User
        </h6>
    </div>
    <div class="card-body">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" maxlength="100" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" maxlength="100" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" maxlength="100" class="form-control" required />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NationalId"></label>
                <input asp-for="NationalId"
                       type="number" pattern="/^\d+$/"
                       onKeyPress="if(this.value.length==10) return false;"
                       value="" class="form-control" required />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateBrith"></label>
                <input asp-for="DateBrith" type="date" class="form-control" />
                <span asp-validation-for="DateBrith" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" required />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender"></label>
                <select asp-for="Gender" class="form-control">
                    <option disabled selected>---Select Gender---</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Role"></label>
                <select asp-for="Role" asp-items="@ViewBag.Roles" class="form-control">
                    <option selected disabled>---Select Role---</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>


            <div asp-validation-for="Roles" class="mb-2 text-danger"></div>

            <div class="col-md-6 mt-4">
                <div class="">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script>

        function previewImage(e) {
            let image = window.URL.createObjectURL(e.files[0]);
            document.querySelector('#image_src').src = image;
            document.querySelector('#img_txt').innerHTML = `${e.files[0].name} | ${image.length}Bytes`;
        }
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
